@model AECS20250324.AppWebMVC.Models.Warehouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@* <div> *@
@*     <h4>Warehouse</h4> *@
@*     <hr /> *@
@*     <dl class="row"> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.WarehouseName) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.WarehouseName) *@
@*         </dd> *@
@*         <dt class = "col-sm-2"> *@
@*             @Html.DisplayNameFor(model => model.Notes) *@
@*         </dt> *@
@*         <dd class = "col-sm-10"> *@
@*             @Html.DisplayFor(model => model.Notes) *@
@*         </dd> *@
@*     </dl> *@
@* </div> *@
@* <div> *@
@*     <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
@*     <a asp-action="Index">Back to List</a> *@
@* </div> *@

<div class="container-fluid py-4">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2 class="h4 mb-0">
                <i class="fas fa-warehouse mr-2"></i>Warehouse Details
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <dl class="row">
                        <dt class="col-sm-4 text-md-right">Warehouse Name:</dt>
                        <dd class="col-sm-8">
                            <span class="text-muted">
                                @Html.DisplayFor(model => model.WarehouseName)
                            </span>
                        </dd>

                        <dt class="col-sm-4 text-md-right">Notes:</dt>
                        <dd class="col-sm-8">
                            <p class="text-muted">
                                @Html.DisplayFor(model => model.Notes)
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary mr-3">
                        <i class="fas fa-edit mr-1"></i>Edit
                    </a>
                    <a asp-action="Index" class="btn btn-outline-secondary">
                        <i class="fas fa-list-alt mr-1"></i>Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>